@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;500&display=swap');

body {
  align-items: center;
  background-color: #f2f2f2;
  display: block;
  font-family: "Merriweather", serif;
  flex-wrap: wrap;
  box-shadow: 0px 0px 5px 2px black;
  justify-content: center;
  margin: auto;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
  float: left;
  margin-left: 4%;
  padding: 30px;
  justify-content: space-evenly;
  
}
.container {
  border-radius: 50%;
  height: 312px;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}

.container:hover {
  transform: scale(0.54);
}
.container-inner {
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.spacer2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  order: 3;
  width: auto;
  padding-bottom: 600px;
}

.divider {
  background-color: black;
  height: 1px;
  width: 160px;
}
.name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}




/*Header*/.maind-flex {
  display: flex;
  flex-direction: row;
  order: 6;
  justify-content: space-around;
  width: auto;
  height: 150px;
  background-color: azure;
}
#temp {
  width: 60%;
}
div a {
  color: gray;
  text-decoration: none;
}
div a:hover {
  color: black;
}
.d1 {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}
.d1-2 {
  font-size: 35px;
  color: #5a5b5e;
  font-family: "Satisfy", cursive;
  font-weight: bold;

  float: left;
}
.d2 {
  width: 150px;
  height: 75px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #f6412f;
  float: right;
  /* padding: 20px; */
  padding-top: 20px;
  /* padding-bottom: 55px; */
  /* padding-bottom: 55px; */
}

.d3 {
  width: 150px;
  height: 150px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 50px;
  /* padding-bottom: 55px; */
}

.d4 {
  width: 150px;
  height: 150px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 50px;
  /* padding-bottom: 55px; */
}
.d5{
  width: 150px;
  height: 150px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 50px;
  /* padding-bottom: 55px; */
}
.spacer {
  width: 150px;
  height: 150px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 50px;
  /* padding-bottom: 55px; */
}

/*Footer*/
.site-footer{
  background-color: #26272B;
}
h6{
  font-family: 'Kanit', sans-serif;
  font-size: larger;
  font-weight: 300;
  color: white;
}
.about{
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  text-align: justify;
  color: grey;
  float: left;
  width: 30%;
  font-size: large;
  margin-left: 10%;
}
.cats{
  font-family: 'Kanit', sans-serif;
  color: grey;
  font-weight: 200;
  float: left;
  width: 30%;
  font-size: large;
  margin-left: 90px;
}
.links{
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: grey;
  width: 30%;
  padding-top: 1px;
  font-size: large;
  margin-left: 60%;
}
ul{
  list-style-type: none;
}
hr{
  border-top-color:#bbb;
  opacity:0.5;
  margin:30px 30px;
}
.copyr{
  text-align: center;
  color: white;
}
li a{
  color: grey;
  text-decoration: none;
}
li a:hover{
  color:blue;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  html{
    font-size: 0.8em;
  }
  main .name, .person, .title, .container, .container-inner{
    width: 150px;
  }
  header h2{
    padding-top: 40px;
    font-size: 0.9em;
  }
  header  a{
    font-size: 0.8em;
  }
  footer h6, a, p{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 900px) {
  html{
    font-size: 0.7em;
  }
  header h2{
    padding-top: 40px;
    font-size: 0.7em;
  }
  header  a{
    font-size: 0.7em;
  }
  footer h6, a, p{
    font-size: 0.7em;
  }
}