@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;500&display=swap');
body {
  align-items: center;
  background-color: #f2f2f2;
  display: block;
  font-family: "Merriweather", serif;
  flex-wrap: wrap;
  box-shadow: 0px 0px 5px 2px black;
  justify-content: center;
  margin: auto;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
  float: left;
  margin-left: 2%;
  padding: 30px;
  justify-content: space-around;
  
}
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.spacer2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  order: 3;
  width: auto;
  padding-bottom: 600px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
.img2 {
  left: -46px;
  top: 174px;
  width: 444px;
}

.img3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
.divider {
  background-color: black;
  height: 1px;
  width: 160px;
}
.name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}




/*Header*/.maind-flex {
  display: flex;
  flex-direction: row;
  order: 6;
  justify-content: space-around;
  width: auto;
  height: 150px;
  background-color: azure;
}
#temp {
  width: 60%;
}
div a {
  color: gray;
  text-decoration: none;
}
div a:hover {
  color: black;
}
.d1 {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}
.d1-2 {
  font-size: 35px;
  color: #5a5b5e;
  font-family: "Satisfy", cursive;
  font-weight: bold;

  float: left;
}
.d2 {
  width: 150px;
  height: 150px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 50px;
  /* padding-bottom: 55px; */
}

.d3 {
  width: 150px;
  height: 150px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 50px;
  /* padding-bottom: 55px; */
}

.d4 {
  width: 150px;
  height: 150px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 50px;
  /* padding-bottom: 55px; */
}

.spacer {
  width: 150px;
  height: 150px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 50px;
  /* padding-bottom: 55px; */
}

/*Footer*/
.site-footer{
  background-color: #26272B;
}
h6{
  font-family: 'Kanit', sans-serif;
  font-size: larger;
  font-weight: 300;
  color: white;
}
.about{
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  text-align: justify;
  color: grey;
  float: left;
  width: 30%;
  font-size: large;
  margin-left: 10%;
}
.cats{
  font-family: 'Kanit', sans-serif;
  color: grey;
  font-weight: 200;
  float: left;
  width: 30%;
  font-size: large;
  margin-left: 90px;
}
.links{
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: grey;
  width: 30%;
  padding-top: 1px;
  font-size: large;
  margin-left: 60%;
}
ul{
  list-style-type: none;
}
hr{
  border-top-color:#bbb;
  opacity:0.5;
  margin:30px 30px;
}
.copyr{
  text-align: center;
  color: white;
}
li a{
  color: grey;
  text-decoration: none;
}
li a:hover{
  color:blue;
  text-decoration: none;
}
