/* @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap"); */

/*Common Code*/
body {
 width: auto;
 background-color: white;
 font-family: 'Creepster', cursive;
 font-family: 'Kanit', sans-serif;
 /* font-family: 'Satisfy', cursive; */
}
footer {
  background-color: rgb(112, 151, 54);
}
main {
  background-color: white;
}

/*Nav and Header*/
.maind-flex {
  display: flex;
  flex-direction: row;
  order: 6;
  justify-content: space-around;
  width: auto;
  height: 75px;
  background-color: white;
}
#temp {
  width: 60%;
}
div a {
  color: gray;
  text-decoration: none;
}
div a:hover {
  color: black;
}
.d1 {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}
.d1-2 {
  font-size: 35px;
  color: #5a5b5e;
  font-family: "Satisfy", cursive;
  font-weight: bold;

  float: left;
}
.d2 {
  width: 150px;
  height: 75px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #f6412f;
  float: right;
  /* padding: 20px; */
  padding-top: 20px;
  /* padding-bottom: 55px; */
}

.d3 {
  width: 150px;
  height: 75px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 20px;
  /* padding-bottom: 55px; */
}

.d4 {
  width: 150px;
  height: 75px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 20px;
  /* padding-bottom: 55px; */
}
.d5{
  width: 150px;
  height: 75px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 20px;
  /* padding-bottom: 55px; */
}

.spacer {
  width: 150px;
  height: 75px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  float: right;
  /* padding: 20px; */
  padding-top: 20px;
  /* padding-bottom: 55px; */
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  padding: 1em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em,0.5em) scale(0.5);
  transform-origin: 100% 0;
  
  appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em,0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

/*Main Body*/
main div{
  background-color: white;
}
#banner {
  width: 100%;
}
.heading {
  font-family: "Kanit", sans-serif;
  text-align: center;
  /* padding-top: 50px; */
  color: black;
}
.gallery-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 70vh;
  box-shadow: 0px 0px 2px 2px black;
}
.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  /* background-repeat: none; */
  transition: flex 0.8s ease;
}
.item:hover {
  flex: 7;
}
.item-1 {
  background-image: url("https://cdn.vox-cdn.com/thumbor/JJirw6wf5ku6VWp_4Vu9WNtl_jM=/1400x788/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/20059022/shutterstock_1435374326.jpg");
}

.item-2 {
  background-image: url("https://images.immediate.co.uk/production/volatile/sites/30/2022/10/Pork-carnitas-b94893e.jpg?quality=90&resize=556,505");
}

.item-3 {
  background-image: url("https://www.lacademie.com/wp-content/uploads/2022/01/popular-chinese-foods.jpg");
}

.item-4 {
  background-image: url("https://d2lswn7b0fl4u2.cloudfront.net/photos/pg-italian-dishes-1645372086.jpg");
}

.item-5 {
  background-image: url("https://i.insider.com/5b33c37a1ae6621d008b499c?width=1136&format=jpeg");
}


/* latest recipes test */

.latestRecipiesTest{
  width: 100%;
  height: 100px;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
 
}


/* latest recipes */
.latestRecipies{
  width: 100%;
  height: auto;
  /* background-color: #0c48db; */
  display: flex;
  flex-wrap: wrap ;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  margin: 25px;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* explore cuizine */
.heading{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.exploreCuizine{
  width: 100%;
  height: 250px;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* links explore cuizine */
.linkButton{
  border-radius: 50%;
  width: 250px;
  margin: 10px;
}

/* Veg or Non veg cards */
.vegOrNonVeg{
  width: 100%;
  height: auto;
  /* background-color: pink; */
  display: flex;
}
.veg{
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
}
.seeMore{
  width: 100%;
  height: 35px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}
.buttonSeeMore{
  width: auto;
  height: auto;
  background-color: #f6412f;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  

}
.buttonSeeMore:hover{
  background-color: white;
  color: black;

}
.VegHeading{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.nonVeg{
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  float: left;
  flex-direction:row ;
  justify-content: center;
}
/* topic text */
.topic-text{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6412f;
}
.input-box{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f6412f;
}
