@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

html {
  background-color: #5a5b5e;
}
body {
  margin: 0;
  width: 80%;
  background-color: white;
  margin: auto;
  box-shadow: 0px 0px 5px 2px black;
}

header {
  width: 100%;
  height: 100px;
  /* background-color: aqua; */
}
.login {
  width: 100%;
  height: 500px;
  /* background-color: azure; */
}
.login {
  text-align: center;
}
#username {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  margin: 20px;
}
h1 {
  padding: 20px;
  margin-top: 50px;
}

.button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  width: 200px;
}
.input:focus {
  border: 3px solid #555;
}
input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: grey;
  font-size: 20px;
}
.forgotLink {
  text-decoration: none;
}

/*Nav and Header*/
#temp {
  width: 60%;
}
div a {
  color: white;
  text-decoration: none;
}
div a:hover {
  color: #a1b4aa;
}
.d1 {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}
.d1-2 {
  font-size: 72px;
  background: -webkit-linear-gradient(#a1b4aa, #a1b4aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Satisfy", cursive;
  font-size: 50px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: -70px;
  float: left;
}
.d2 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: large;
  color: white;
  float: right;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 55px;
}
.d2:hover {
  background-color: #26272b;
}
.d3 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: large;
  color: white;
  float: right;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 55px;
}
.d3:hover {
  background-color: #26272b;
  color: #a1b4aa;
}
.d4 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: large;
  color: white;
  float: right;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 55px;
}
.d4:hover {
  background-color: #26272b;
  color: #a1b4aa;
}
.spacer {
  background-image: linear-gradient(90deg, #26272b, #26272b, #829489);
  padding: 76px;
}

/*Footer*/
.site-footer {
  background-color: #26272b;
}
h6 {
  font-family: "Kanit", sans-serif;
  font-size: larger;
  font-weight: 300;
  color: white;
}
.about {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  text-align: justify;
  color: grey;
  float: left;
  width: 30%;
  font-size: large;
  margin-left: 10%;
}
.cats {
  font-family: "Kanit", sans-serif;
  color: grey;
  font-weight: 200;
  float: left;
  width: 30%;
  font-size: large;
  margin-left: 90px;
}
.links {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  color: grey;
  width: 30%;
  padding-top: 1px;
  font-size: large;
  margin-left: 60%;
}
ul {
  list-style-type: none;
}
hr {
  border-top-color: #bbb;
  opacity: 0.5;
  margin: 30px 30px;
}
.copyr {
  text-align: center;
}
li a {
  color: grey;
  text-decoration: none;
}
li a:hover {
  color: blue;
  text-decoration: none;
}
